*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.content {
  max-width: 1140px;
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result content__details";
  gap: 30px;
}

.result {
  padding-top: 78px;
  max-width: 711px;
  grid-area: result;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  max-width: 711px;
  max-height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset:first-child {
  width: 225px;
}

.search-form__fieldset:nth-child(2) {
  width: 212px;
}

.search-form__fieldset-title,
.search-form__label {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: #ffffff;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid rgba(255, 255, 255, 0.7);
}

.search-form__textfield {
  margin-top: 5px;
  background-color: transparent;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: currentColor;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 225px;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
  appearance: none;
}

.search-form__checkbox-list {
  margin-top: 5px;
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  margin-right: 5px;
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  inline-size: 15px;
  block-size: 15px;
  margin: 1px 0 0 1px;
}

.content__details {
  grid-area: content__details;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  color: #ffffff;
  text-transform: uppercase; /* tittle has been fixed */
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  max-height: 298px;
  overflow-y: auto;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  display: block;
  width: 100%;
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link {
  display: block; /* has been fixed */
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.content__card-link:hover {
  text-decoration: underline #fff;
}

.content__video-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.content__card-link:focus {
  border: 1px solid rgba(255, 255, 255, 1);
}

.content__card-link:focus-visible {
  border: none;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase; /* tittle has been fixed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description-container {
  flex-grow: 1;
  overflow: hidden;
}

.content__video-card-description {
  margin-top: 6px;
  font-family: "Fira Sans Condensed", sans-serif; /* has been fixed */
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__card-link:active,
.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.button {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline rgba(255, 255, 255, 1);
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
}

.more-button {
  width: 390px;
  height: 34px;
  margin-top: 30px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/* ERROR TEMPLATE */

.error__title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  color: #ffffff;
  text-transform: uppercase;
}
